In [1]:
# Introduction to variales in Python

In [3]:
x=3
y=4
z=x+y
print(z)

7

In [6]:
#Rules for declaring  the variables in python

#1. No name spaces while declaring the variable names
first name="Akbar"
print(first name)

SyntaxError: invalid syntax (<ipython-input-6-4636890eafaf>, line 4)

In [8]:
firstname="Akbar"
print(firstname)

Akbar

In [9]:
#2. A Variable name should not start with a number*
1name="Akbar"
print(1name)

SyntaxError: invalid syntax (<ipython-input-9-1b4b456f7063>, line 2)

In [10]:
#Number can be in between variable name
name1="Akbar"
print(name1)

Akbar

In [11]:
#3. A variable name should not contain any special characters-e.g. @ $ & *
name@="Fatima"
print(name@)

SyntaxError: invalid syntax (<ipython-input-11-b43280f23aff>, line 3)

In [ ]:
#Introduction to Data Types in Python

#1. string==== str
#2. Numbers----- inters (int) and floats (decimals) --- float
#3. list--- list
#4. tuple- tuple
#5. dictinaries-- dict

In [ ]:
#Note: Python is a case sensivite language

In [ ]:
#Classifination of data types:

#Data types are classifie in to 2 differnet categeroies

#1. Mutalbe datatype- which we can edit or alter--- flexible in nature
#2. Immutable datatypes---- which we can not edit or alter--- fixed in nature

In [ ]:
#Introduction to string datatype:
#Definition: A string is a series of characters declared in quotes:
# Classification: it is classified as an immutable data type

In [ ]:
# How do you declare/define a string
# there are 3 possible approcahes for  declaring a string

   #1. Single quotes
   #2. double quotes
   #3. triple quotes

# is used to commenting the line

In [12]:
name='Bob'#  single quote
print(name)

Bob

In [13]:
name1=" Mark "# double quotes
print(name1)

 Mark

In [14]:
name2=""" Tom"""#triple quotes
print(name2)

 Tom